@page "/teamdetail/{teamName}"

<body>
<Navbar></Navbar>
<div class="MainGrid">
    <div class="team-details">
        @if (team != null)
        {
            <div class="team-attributes">
                <div>
                    <h2><strong>Team Name:</strong> @team.Name</h2>
                    <p><strong>Id:</strong> @team.Id</p>
                </div>
                <div>
                    <p><strong>Location:</strong> @team.Location</p>
                    <p><strong>Region:</strong> @team.Region</p>
                </div>
                <div>
                    <p><strong>Founders:</strong></p>
                    @if (team.Founders != null)
                    {
                        @foreach (var founder in team.Founders)
                        {
                            <p>@founder</p>
                        }
                    }
                </div>
                <div>
                    <p><strong>Players:</strong></p>
                    @if (team.Players != null)
                    {
                        @foreach (var player in team.Players)
                        {
                            <p>@player</p>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <p>Loading team details...</p>
        }
    </div>
    <div class="team-logo">
        @if (team != null)
        {
            <img src="@team.Url" alt="Team Logo" width="250" height="250" />
        }
    </div>
</div>
<DeleteButton></DeleteButton>
</body>

@code {
    [Parameter]
    public string TeamName { get; set; }

    private Team team;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await HttpClient.GetAsync($"http://localhost:8888/team/{TeamName}");
            if (response.IsSuccessStatusCode)
            {
                team = await response.Content.ReadFromJsonAsync<Team>();
            }
            else
            {
                Console.WriteLine("An error occurred while retrieving team details. Status Code: " + response.StatusCode);
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("An error occurred while retrieving team details: " + ex.Message);
        }
    }
}

<style>
    .MainGrid {
        display: flex;
    }

    .team-details {
        flex: 1;
    }

    .team-logo {
        margin-left: 10px;
        grid-column: 2;
    }

</style>